<c-row class="d-flex justify-content-start">
    <app-increase-rated [data]="totalData"></app-increase-rated>
</c-row>

<app-stat-date [statInfo]="auctionStatInfo" ></app-stat-date>
<app-stat-date [statInfo]="commissionStatInfo" ></app-stat-date>
<app-top-f10 [data]="userTopAuction" ></app-top-f10>
<app-top-f10 [data]="userTopCommission" ></app-top-f10>
<app-top-f10 [data]="productTopAuction" ></app-top-f10>
<app-top-f10 [data]="categoryTopAuction" ></app-top-f10>
<app-top-f10 [data]="productTopSales" ></app-top-f10>
<app-top-f10 [data]="categoryTopSales" ></app-top-f10>
<app-top-f10 [data]="productTopAuction" ></app-top-f10>
<app-top-f10 [data]="categoryTopAuction" ></app-top-f10>
<app-product-evolution></app-product-evolution>
