<c-row class="d-flex justify-content-start">
    <app-increase-rated [data]="totalData"></app-increase-rated>
</c-row>

<app-stat-date
  title="Nombre des encheres selon un intervalle"
  [statInfo]="auctionStatInfo"
  (dateParams)="loadAuctionCountData($event)"
></app-stat-date>

<app-stat-date
  title="Commission selon un intervalle"
  [statInfo]="commissionStatInfo"
  (dateParams)="loadCommissionDayData($event)"
></app-stat-date>

<app-top-f10
  title="Top des utilisateurs createurs"
  [data]="userTopAuction"
></app-top-f10>
<app-top-f10
  title="Top Vendeur"
  [data]="userTopCommission" >
</app-top-f10>
<app-top-f10
  title="Analyse sur les produits"
  [data]="productTopAuction"
  [ratePresent]="false"
></app-top-f10>
<app-top-f10
  title = "Analyse des categories"
  [data]="categoryTopAuction"
  [ratePresent]="false"
></app-top-f10>

